:root {
	--containers-left-margin: -35px;

	--left-column-width: 300px;

	--middle-column-space-left: 30px;
	--middle-column-margin-left: calc(var(--left-column-width) + var(--middle-column-space-left) + var(--containers-left-margin));

	--right-column-width: 250px;
	--right-column-margin-left: calc(var(--right-column-width) + var(--containers-left-margin));
	--right-column-left: 890px;
	--right-column-left-first-value: 972;
}

/* *************************************************************** */

.left-card-column {
	margin-left: var(--containers-left-margin);
	position: fixed; 
	width: var(--left-column-width);
}

.middle-card-column {
	margin-left: var(--middle-column-margin-left);
}

.middle-card-body {
	overflow: scroll;
    height: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.right-card-column {
	margin-left: var(--right-column-margin-left); 
	position: fixed; 
	left: var(--right-column-left);	
	width: var(--right-column-width);
}

/* *************************************************************** */

body {
	background-image: url("../tile_background.svg");
	/*background: #c7c7c7;*/
	background-repeat: repeat;
	padding: 20px;
}

.colorPalettePicker {
	width: 40px;
	height: 44px;
	border: 0px;
	padding: 0px;
}

.paletteSelector {
	width: 20px;
	height: 20px;
	left: 5px;
}

.downButton {
	position: absolute;
	top: 5px;
	right: 10px;
}

textarea.fullFile {
	height: 300px;
}

.codeBlock {
	color: #e83e8c;
	word-wrap: break-word;
}

.colorOptionCell {
	width: 45px;
	height: 30px;
}

.colorOptionBlock {
	width: 20px;
	height: 20px;
}