body {
	background-image: url("../tile_background.svg");
	/*background: #c7c7c7;*/
	background-repeat: repeat;
	padding: 20px;
}

.colorPalettePicker {
	width: 40px;
	height: 44px;
	border: 0px;
	padding: 0px;
}

.paletteSelector {
	width: 20px;
	height: 20px;
	left: 5px;
}

.downButton {
	position: absolute;
	top: 5px;
	right: 10px;
}

textarea.fullFile {
	height: 400px;
}

.codeBlock {
	color: #e83e8c;
	word-wrap: break-word;
}

.colorOptionCell {
	width: 45px;
	height: 30px;
}

.colorOptionBlock {
	width: 20px;
	height: 20px;
}