:root {
	--left-column-width: 300px;
	--right-column-width: 240px;
}

/* *************************************************************** */
/*OVERRIDE Boostrap*/

*, ::after, ::before {
	/* prevent the left column to be wrapped */
     box-sizing: unset; 
}

/* *************************************************************** */

.left-card-column {
	width: var(--left-column-width);
}

.middle-card-column {
	padding-right: 15px;
    padding-left: 15px;
}

.middle-card-body {
	overflow: scroll;
    height: 85vh;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.right-card-column {
	width: var(--right-column-width);
}

/* *************************************************************** */

body {
	background-image: url("../tile_background.svg");
	/*background: #c7c7c7;*/
	background-repeat: repeat;
	padding: 20px;
}

.colorPalettePicker {
	width: 40px;
	height: 44px;
	border: 0px;
	padding: 0px;
}

.paletteSelector {
	width: 20px;
	height: 20px;
	left: 5px;
}

.downButton {
	position: absolute;
	top: 5px;
	right: 10px;
}

textarea.fullFile {
	height: 300px;
}

.codeBlock {
	color: #e83e8c;
	word-wrap: break-word;
}

.colorOptionCell {
	width: 45px;
	height: 30px;
}

.colorOptionBlock {
	width: 20px;
	height: 20px;
}

.previewTileHexBox {
	padding: 10px;
    font-size: 11pt;
    width: 177px;
}